snakemakelib.egg-info
build
dist
wiki
data
Snakefile
.snakemake
/test/Snakefile
/snakemakelib/data/templates/doc/source/index_orig.mako
*dup_metrics
*intervals
*recal_data.grp
*align_metrics
*hist
*.hs_metrics
*.annotated.txt
*insert_metrics
*_report.txt
*-bias.txt
*tmp*
*.tophat2*
*.cufflinks*
*genomes*
.noseids
