snakemakelib.egg-info
build
dist
wiki
.snakemake
/test/Snakefile
/data/genomes/Hsapiens/hg19/seq/chr11.dict
/data/genomes/Hsapiens/hg19/seq/chr11.fa.fai
/data/projects/J.Doe_00_01/P001_101_index3/P001_101_index3.sort.merge.rg.dup.align_metrics
/data/projects/J.Doe_00_01/P001_101_index3/P001_101_index3.sort.merge.rg.dup.hist
/data/projects/J.Doe_00_01/P001_101_index3/P001_101_index3.sort.merge.rg.dup.hs_metrics
/data/projects/J.Doe_00_01/P001_101_index3/P001_101_index3.sort.merge.rg.dup.insert_metrics
/data/projects/J.Doe_00_01/P001_101_index3/P001_101_index3.sort.merge.rg.dup.intervals
/data/projects/J.Doe_00_01/P001_101_index3/P001_101_index3.sort.merge.rg.dup.realign.recal_data.grp
/data/projects/J.Doe_00_01/P001_101_index3/P001_101_index3.sort.merge.rg.dup_metrics
/data/projects/J.Doe_00_01/P001_102_index6/P001_102_index6.sort.merge.rg.dup.align_metrics
/data/projects/J.Doe_00_01/P001_102_index6/P001_102_index6.sort.merge.rg.dup.hist
/data/projects/J.Doe_00_01/P001_102_index6/P001_102_index6.sort.merge.rg.dup.hs_metrics
/data/projects/J.Doe_00_01/P001_102_index6/P001_102_index6.sort.merge.rg.dup.insert_metrics
/data/projects/J.Doe_00_01/P001_102_index6/P001_102_index6.sort.merge.rg.dup.intervals
/data/projects/J.Doe_00_01/P001_102_index6/P001_102_index6.sort.merge.rg.dup.realign.recal_data.grp
/data/projects/J.Doe_00_01/P001_102_index6/P001_102_index6.sort.merge.rg.dup_metrics
/snakemakelib/data/templates/doc/source/index_orig.mako
*dup_metrics
*intervals
*recal_data.grp
