sudo: false
language: python
cache: 
  directories:
    - $HOME/.cache/pip
python:
  - 3.3
  - 3.4
install:
  - pip install --upgrade pip
  - pip install -r requirements.txt
  - pip install coveralls
  - python setup.py develop
script:
  coverage run --source=snakemakelib setup.py test
branches:
  only:
    - master
    - develop
after_success:
  coveralls
