<!doctype html>
<html lang="en">
<head>

<meta charset="utf-8">
<title>{{ title if title else "STAR alignment summary" }}</title>
{{ plot_resources|indent(8) }}
<style>
{{ css|indent(8) }}
</style>
{{ star_plots['script']|indent(8) }}
{{ table['script']|indent(8) }}
</head>
<body>
<h3>STAR alignment summary</h3>

<figure>
{{ star_plots['div']|indent(8) }}
<figcaption>Scatter plots of STAR summary statistics. </figcaption>
</figure>

<figure>
{{ table['div']|indent(8) }}
<figcaption>Table of all STAR alignment statistics. </figcaption>
</figure>

<h3>Attachments</h3>
<a href="{{ uri['uri'] }}" download="{{ uri['file'] }}" draggable="true">{{ uri['file'] }}</a>
</body>
</html>
