<!-- -*- jinja2 -*- -->
<h3>Snakemake version and configuration</h3>

{% if version is defined %}

<table class="table-version">
  <tr>
    <td style="text-align:left;padding-right:50px">Version</td>
    <td style="text-align:right">{{ version['version'] }}</td>
  </tr>
  <tr>
    <td style="text-align:left;padding-right:50px">Full</td>
    <td style="text-align:right">{{ version['full'] }}</td>
  </tr>
</table>

<p>
The full configuration of the run is defined in <a href="{{ config['uri'] }}" download="{{ config['file']}}" draggable="true">{{ config['file'] }}</a>
</p>

{% else %}
No snakemake version defined!
{% endif %}
